body {
    background: grey;
}

#logo {
    position: absolute;
    right: 20px;
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;
  }

p {
    position: relative;
    right: 50px;
    top: -110px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

h1 {
    font-family: fantasy;
}

#roll {
    position: absolute;
    top: 23px;
    left: 240px;
    padding: 5px;
    border-radius: 10px;
    font-family: fantasy;
    font-weight: bold;
    margin: 2px;
}

#class {
    position: absolute;
    right: 80px;
    top: 80 px;
    font-family: fantasy;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    margin: 2px;
    background-color: white;
    color: black;
}

#die1  {
    position: absolute;
    left: 25px;
    top: 80px;
    width: 40px;
    background: black;
    border: black 1px solid;
    padding: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

#die2 {
    position: absolute;
    left: 100px;
    top: 80px;
    width: 40px;
    background: black;
    border: black 1px solid;
    padding: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

#die3 {
    position: absolute;
    left: 175px;
    top: 80px;
    width: 40px;
    background: black;
    border: black 1px solid;
    padding: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

#die4 {
    position: absolute;
    left: 250px;
    top: 80px;
    width: 40px;
    background: black;
    border: black 1px solid;
    padding: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

#die5 {
    position: absolute;
    left: 325px;
    top: 80px;
    width: 40px;
    background: black;
    border: black 1px solid;
    padding: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

#die6 {
    position: absolute;
    left: 400px;
    top: 80px;
    width: 40px;
    background: black;
    border: black 1px solid;
    padding: 10px;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium';
}

h3 {
    position: absolute;
    top: 600px;
    font-family: fantasy;
}

